# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Media
#*.png

# IDE Porject Files
## Sublime Text2
*.sublime-project
*.sublime-workspace

# OS Files
## OSx
.DS_Store